<!DOCTYPE html>
<html lang="en">
<link th:href="@{/css/calendar-details.css}" type="text/css" rel="stylesheet"/>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div class="border_num">번호</q></div>
<div class="border_kinds">입/출금</div>
<div class="border_date">날짜</div>
<div class="border_content_title">내용</div>
<div class="border_price_title">금액</div>


<tr th:each="account : ${bankAccountList}">
        <div class="border_num"><td th:text="${account.name}"></td></div>
        <div class="border_kinds"><td th:text="${account.accountNumber}"></td></div>
        <div class="border_content"><td th:text="${account.bank}"></td></div>
    </span>
</tr>

<div class="ui-button">
    <button type="button" th:onclick="|location.href='@{/calendar/details/add(date = ${param.date})}'|">추가하기</button>
    <button type="button" th:onclick="|location.href='@{/calendar/reservation/delete}'|">삭제하기</button>
    <button type="button" th:onclick="|location.href='@{/main(date = ${param.date})}'|">메인가기</button>
</div>
</body>
</html>