<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bank Accounts</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div class="container mt-5">
    <h1 class="mb-4">Bank Accounts</h1>

    <div class="row mb-3">
        <div class="col-sm-3 border-top border-bottom py-2">
            <strong>이름</strong>
        </div>
        <div class="col-sm-4 border-top border-bottom py-2">
            <strong>계좌</strong>
        </div>
        <div class="col-sm-3 border-top border-bottom py-2">
            <strong>은행</strong>
        </div>
        <div class="col-sm-1 border-top border-bottom py-2"></div>
        <div class="col-sm-1 border-top border-bottom py-2"></div>
    </div>

    <div th:each="account : ${bankAccountList}" class="row mb-3">
        <div class="col-sm-3 border-bottom py-2">
            <div th:text="${account.name}"></div>
        </div>
        <div class="col-sm-4 border-bottom py-2">
            <div th:text="${account.accountNumber}"></div>
        </div>
        <div class="col-sm-3 border-bottom py-2">
            <div th:text="${T(com.example.foodcloud.enums.BankCode).returnName(account.bank)}"></div>
        </div>
        <div class="col-sm-1 border-bottom py-2">
            <button type="button" class="btn btn-danger" th:onclick="|location.href='@{/bank/delete(bankAccountId=${account.id})}'|">Delete</button>
        </div>
        <div class="col-sm-1 border-bottom py-2">
            <button type="button" class="btn btn-secondary" th:onclick="|location.href='@{/bank/update(bankAccountId=${account.id})}'|">Edit</button>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-sm-2">
            <button type="button" class="btn btn-success" th:onclick="|location.href='@{/bank/add}'|">Add</button>
        </div>
        <div class="col-sm-2">
            <button type="button" class="btn btn-primary" th:onclick="|location.href='@{/main(date=${param.date})}'|">Back</button>
        </div>
    </div>
</div>

</body>
</html>