<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bank Account Update</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h2 class="text-center">Bank Account Update</h2>
            <form name="form" id="form" role="form" method="post"
                  th:action='@{/bank/update(bankAccountId=${bankAccountInfo.id})}'>

                <div class="form-group">
                    <label for="name">계좌 이름을 입력해주세요.</label>
                    <input type="text" class="form-control" name="name" id="name" th:placeholder="${bankAccountInfo.name}">
                </div>

                <div class="form-group">
                    <label for="accountNumber">계좌 번호를 입력해주세요.</label>
                    <input type="text" class="form-control" name="accountNumber" id="accountNumber"
                           th:placeholder="${bankAccountInfo.accountNumber}">
                </div>

                <div class="form-group">
                    <label>은행을 선택해주세요.</label>
                    <div class="radio">
                        <label>
                            <input type="radio" name="bank" value="004" th:checked="${bankAccountInfo.bank == '004'}">농협
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="bank" value="011" th:checked="${bankAccountInfo.bank == '011'}">국민
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="bank" value="088" th:checked="${bankAccountInfo.bank == '088'}">신한
                        </label>
                    </div>
                </div>

                <button type='submit' class="btn btn-primary">Update</button>
                <button type="button" class="btn btn-default" th:onclick="|location.href='@{/main}'|">Back to Main</button>
            </form>
        </div>
    </div>
</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>