<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 부트스트랩 4.5.2 CSS 링크 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Google Fonts에서 "Montserrat" 글꼴 링크 -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap">
    <!-- jQuery 라이브러리 링크 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- 부트스트랩 4.5.2 JS 라이브러리 링크 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link th:href="@{/css/order/list.css}" type="text/css" rel="stylesheet"/>
</head>
<body>
<div class="border_num my-4 mx-auto w-75">주문 목록</div>
<div class="container order-manager-body">
    <div id="orderList">
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th>이미지</th>
                <th>음식 이름</th>
                <th>주문 가격</th>
                <th>주문 장소</th>
                <th>결제 종류</th>
                <th>주문 갯수</th>
                <th>주문 결과</th>
            </tr>
            </thead>
            <tbody id="orderListBody">
            <tr th:each="orderMenu : ${orderMenuList}">
                <td>
                    <img th:src="${orderMenu.foodMenu.imagePath != null} ? ${orderMenu.foodMenu.imagePath} : ${'/food-menu-images/default/default.png'}" />
                </td>
                <td th:text="${orderMenu.foodMenu.name}"></td>
                <td th:text="${orderMenu.price}"></td>
                <td th:text="${orderMenu.location}"></td>
                <td th:text="${orderMenu.payment.getPaymentCode().name()}"></td>
                <td th:text="${orderMenu.count}"></td>
                <td th:text="${orderMenu.result.name()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="reset">
        <button type="button" th:onclick="|location.href='@{/order/new?restaurantId=${foodMenu.getRestaurant().getId()}'|" class="btn btn-primary">공구하기</button>
        <button type="button" th:onclick="|location.href='@{/main}'|" class="btn btn-primary">메인페이지로</button>
    </div>
</div>
</body>
</html>
