<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 부트스트랩 4.5.2 CSS 링크 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- jQuery 라이브러리 링크 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- 부트스트랩 4.5.2 JS 라이브러리 링크 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link th:href="@{/css/order/new.css}" type="text/css" rel="stylesheet"/>
</head>
<body>
<div class="border_num my-4 mx-auto w-75">주문 목록</div>

<div class="container order-manager-body">
    <div id="orderList">
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th>음식 이미지</th>
                <th>개수</th>
                <th>개수</th>
                <th>가격</th>
                <th>위치</th>
                <th>시간</th>
                <th>결과</th>
                <th>결제수단</th>
                <th>상태</th>
            </tr>
            </thead>

            <tbody id="orderListBody">
            <tr th:block th:each="list : ${foodMenuList}">
                <td th:text="${list.imagePath}"></td>
                <td th:text="${list.getName}"></td>
                <td th:text="${list.orderCount}"></td>
                <td th:text="${list.price}"></td>
                <td th:text="${list.foodType}"></td>
                <td th:text="${list.meatType}"></td>
                <td th:text="${list.temperature}"></td>
                <td th:text="${list.vegetables}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <form th:action="@{/order/new(restaurantId=${restaurantId})}" method="post">
            <div class="delete d-flex justify-content-end">
                <div class="reset">
                    <input type='submit' value='주문하기' class="btn btn-danger">
                </div>
                <button type="button" onclick="location.href='/foodmenu/list?restaurantId=${foodMenu.getRestaurant().getId()}'" class="btn btn-secondary mr-2">리스트로 돌아가기</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>