<!DOCTYPE html>
<html lang="en">
<link th:href="@{/css/user/mypage.css}" type="text/css" rel="stylesheet"/>
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<button type="button" th:onclick="|location.href='@{/delete}'|">등록 계좌 확인</button>
<button type="button" th:onclick="|location.href='@{/delete}'|">주문 내역 확인</button>
<button type="button" th:onclick="|location.href='@{/delete}'|">내 주문 보기</button>

<div class="border_clear">아이디</div>
<div class="border">
  <td th:text="${userInfo.name}"></td>
</div>
<div class="border_clear">휴대폰번호</div>
<div class="border"><td th:text = "${userInfo.phone}"></td></div>

<br>

<div class="reset">
  <button type="button" th:onclick="|location.href='@{/user/delete}'|">탈퇴하기</button>
  <button type="button" th:onclick="|location.href='@{/user/update}'|">수정하기</button>
<!--  <button type="button" th:onclick="|location.href='@{/main?date=}'|">메인페이지로</button>-->
</div>
</body>
</html>