<!DOCTYPE html>
<html lang="en">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/js/food-menu/food-menu.js}" rel="stylesheet"></script>
<link th:href="@{/css/bank/bank.css}" type="text/css" rel="stylesheet"/>
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<form name="form" id="form" role="form" method="post"
      th:action='@{/food-menu/add}'>


  <div class="border_clear">음식 메뉴의 이름을 입력해주세요.</div>
  <div class="border">
    <input type="text" class="form-control" name="name" id="name" placeholder="음식 이름">
  </div>

  <div class="border_clear">사진 이미지 업로드</div>
  <input type="file" name="file" accept="image/*">

  <div class="border_clear">음식의 가격을 입력해주세요.</div>
  <div class="border">
    <input type="number" class="form-control" name="accountNumber" id="accountNumber" placeholder="음식 가격">
  </div>

  <div class="border_clear">음식의 종류를 입력해주세요.</div>
  <select id="foodKind">
    <option value="">음식의 타입을 선택해주세요.</option>
    <th:block th:each="type : ${T(com.example.foodcloud.enums.FoodType).values()}">
      <option th:value="${type}" th:text="${type.getName()}"></option>
    </th:block>
  </select>

  <select id="foodTypes">
    <option value="">음식의 종류를 선택해주세요.</option>
  </select>

  <div class="border_clear">온도를 선택해주세요</div>
  <select id="temperature">
    <option value="">온도를 선택해주세요.</option>
    <th:block th:each="type : ${T(com.example.foodcloud.enums.foodmenu.Temperature).values()}">
      <option th:value="${type}" th:text="${type.getStates()}"></option>
    </th:block>
  </select>

  <div class="border_clear">고기 종류를 선택해주세요</div>
  <select id="meatType">
    <option value="">고기 종류를 선택해주세요.</option>
    <th:block th:each="type : ${T(com.example.foodcloud.enums.foodmenu.MeatTypes).values()}">
      <option th:value="${type}" th:text="${type.getName()}"></option>
    </th:block>
  </select>


  <div class="border_clear">야채의 양을 선택해주세요</div>
  <select id="vegetables">
    <option value="">야채의 양을 선택해주세요.</option>
    <th:block th:each="type : ${T(com.example.foodcloud.enums.foodmenu.Vegetables).values()}">
      <option th:value="${type}" th:text="${type.getStates()}"></option>
    </th:block>
  </select>

  <br>

  <div class="reset">
    <input type='submit' value='등록'>
    <button type="button" th:onclick="|location.href='@{/main}'|">메인페이지로</button>
  </div>
</form>
</body>
</html>