<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>음식 상세 정보</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/food-menu/detail.css" type="text/css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link th:href="@{/css/food-menu/list.css}" type="text/css" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <h1>음식 상세 정보</h1>
    <div th:each="foodMenu : ${foodMenuList}">
        <div class="border_clear">음식 이름</div>
        <div class="border">
            <span class="label">이름:</span>
            <span class="value" th:text="${foodMenu.getName()}"></span>
        </div>
        <div class="border_clear">가격</div>
        <div class="border">
            <span class="label">가격:</span>
            <span class="value" th:text="${foodMenu.getPrice()}"></span>
        </div>
        <div class="border_clear">주문 수량</div>
        <div class="border">
            <span class="label">주문 수량:</span>
            <span class="value" th:text="${foodMenu.getOrderCount()}"></span>
        </div>
        <div class="border_clear">온도</div>
        <div class="border">
            <span class="label">온도:</span>
            <span class="value" th:text="${foodMenu.getTemperature().name()}"></span>
        </div>
        <div class="border_clear">음식 종류</div>
        <div class="border">
            <span class="label">음식 종류:</span>
            <span class="value" th:text="${foodMenu.getFoodTypes().name()}"></span>
        </div>
        <div class="border_clear">고기 종류</div>
        <div class="border">
            <span class="label">고기 종류:</span>
            <span class="value" th:text="${foodMenu.getMeatType().name()}"></span>
        </div>
        <div class="border_clear">채소</div>
        <div class="border">
            <span class="label">채소:</span>
            <span class="value" th:text="${foodMenu.getVegetables().name()}"></span>
        </div>
        <div class="border_clear">이미지</div>
        <div class="border">
            <div class="value" th:if="${foodMenu.getImagePath() != null}">
                <img th:src="@{'/img/' + ${foodMenu.getImagePath()}}" alt="음식 이미지">
            </div>
            <div class="value" th:unless="${foodMenu.getImagePath() != null}">
                <p>이미지가 없습니다.</p>
            </div>
        </div>
        <div class="join">
            <button type="button" onclick="location.href='/order/new?restaurantId=${foodMenu.getRestaurant().getId()}'" class="btn btn-secondary">주문하기</button>
        </div>
    </div>
</div>