<!DOCTYPE html>
<html lang="en">
<link th:href="@{/css/bank/bank.css}" type="text/css" rel="stylesheet"/>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div class="border_num">이름</q></div>
<div class="border_kinds">계좌번호</div>
<div class="border_date">은행</div>

<tr th:each="account : ${bankAccountList}">
    <th:block th:with="code=${account.bank}">
        <div class="border_num"><td th:text="${account.name}"></td></div>
        <div class="border_kinds"><td th:text="${account.accountNumber}"></td></div>
        <div class="border_date"><td th:text="${T(com.example.foodcloud.enums.BankCode).returnName(code)}"></td></div>
        <td><button type="button" th:onclick="|location.href='@{/bank/delete(bankAccountId=${account.id})}'|">삭제하기</button></td>
        <td><button type="button" th:onclick="|location.href='@{/bank/update(bankAccountId=${account.id})}'|">수정하기</button></td>
    </th:block>
</tr>

<div class="ui-button">
    <button type="button" th:onclick="|location.href='@{/bank/add}'|">추가하기</button>
    <button type="button" th:onclick="|location.href='@{/main(date = ${param.date})}'|">메인가기</button>
</div>
</body>
</html>